body{
    background-image:url(x.jpg);
    height: 100vh;
            background-size: cover;
            background-position: center;
}
h1{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    outline: 0;
   
    width: 100%;
    border: 0;
    padding: 15px;
    color: #9ed605;
    font-size: 40px;
    cursor: pointer;
}
body{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    outline: 0;
    /* background: #4caf50; */
    width: 100%;
    border: 0;
    padding: 15px;
    color: #9ed605;
    font-size: 25px;
    cursor: pointer;
}



input{
    font-family: "Roboto",sans-serif;
           outline: 1;
           background: #f2f2f2f2;
           width: 15%;
           border: 0;
           padding: 10px;
           box-sizing: 0;
           font-size: 10px;
}

button{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #9ed605;
    width: 10%;
    border: 0;
    padding: 10px;
    color: #ffffff;
    font-size: 15px;
    /* cursor: pointer; */

}
textarea{
    background-color:rgba(231, 243, 209, 0.918);
    height: 60vh;
            background-size: cover;
            background-position: center;
}


    
