body{
margin-right: 25%;
  margin-left: 25%;
  margin-top: 20px;
   	background-image: url("./bgimg.jpg");
   	background-repeat: no-repeat;
   	 background-size: cover;


  }

  #logindiv
  {
  	 margin-top: 50px;
  background-image: url("./bgimg.jpg");
   	background-repeat: no-repeat;
   	 background-size: cover;
    position: relative;
    z-index: 100;
    text-align: center;
}
  h2 {
  text-decoration: underline;}